<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <title>Hello</title>
</head>
<body>
<div layout:fragment="replace_fragment">
    <h2>welcome to Admin page</h2>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Survey name</th>
                        <th scope="col">edit</th>
                        <th scope="col">delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="survey : ${surveyList}">
                        <td th:text="${survey.id}"></td>
                        <td th:text="${survey.name}"></td>
                        <td><a class="btn btn-primary"  th:href="@{/admin/edit/{id}(id = ${survey.id})}">Edit</a></td>
                        <td><a class="btn btn-primary"  th:href="@{/admin/delete/{id}(id = ${survey.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" th:href="@{/admin/edit}">Add Survey</a>
        </div>
    </div>

</div>
</body>
</html>