<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <title>Hello</title>
</head>
<body>
<div layout:fragment="replace_fragment">
    <h3>This My Simple Blog application!</h3>
    <h4>Let's write message</h4>
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Survey name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="survey : ${surveyList}">
                        <td><a th:href="@{/quiz/{id}(id = ${survey.id})}" th:text="${survey.name}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div class="row">
    <div class="col">
        <a th:href="@{/admin}" class="btn btn-primary">For Admin</a>
    </div>
</div>
</div>
</body>
</html>
