<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <title>Hello</title>
</head>
<body>
<div layout:fragment="replace_fragment">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                </tr>
                </thead>
                <tbody>
                    <div th:object="${user}">
                        <tr th:each="ans, i : ${user.getAnswers()}">
                            <td><p th:text="${i.index + 1}"></p></td>
                            <td><p th:text="*{answers[__${i.index}__].questions.text}"></p></td>
                            <td><p th:text="*{answers[__${i.index}__].answer}"></p></td>
                        </tr>
                    </div>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
